@import url('https://fonts.googleapis.com/css?family=Work+Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Mono:300&display=swap');

body {
  font-family: 'Work Sans', sans-serif;
  letter-spacing: .5px;
  position: relative;
}

input {
  width: 360px;
}

::placeholder {
  color: #B0B0B0;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: .5px;
  padding: 14px 0 14px 18px;
}

.folder1 {
  padding: 8px 65px 8px 11px;
  color: #EBEBEB;
  background: #267DFF;
  border-radius: 20px;
}

.folder2 {
  padding: 8px 65px 8px 11px;
  color: #EBEBEB;
  background: #FF3C3C;
  border-radius: 20px;
}

.folder3 {
  padding: 8px 65px 8px 11px;
  color: #EBEBEB;
  background: #B0B0B0;
  border-radius: 20px;
}

.folder4 {
  padding: 8px 65px 8px 11px;
  color: #EBEBEB;
  background: #602E00;
  border-radius: 20px;
}


.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: fixed;
  bottom: 50px;
  z-index: 2;
}

/* .tags {
  top: 90px;
} */

.project-title {
  font-family: IBM Plex Mono, monospace;
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.03em;

  color: #323232;

  /* border-top: 1px solid #B0B0B0; */
  /* border-bottom: 1px solid #B0B0B0; */
}

.project {
  width: 500px;
  border-bottom: 1px solid #B0B0B0;
}

.add-project-text {
  opacity: 0;
  transition: opacity ease .5s;
}

.home:hover .add-project-text{
  opacity: 1;
}

.add-project-icon {
  border: none;
}

.title {
  border-style: none; 
  border-color: Transparent; 
  overflow: auto;  
  border-bottom: 1px solid #B0B0B0;
  
  font-family: IBM Plex Mono;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.03em;

  color: #323232;
}

.title:focus {
  outline: none;
}

.note {
  border-style: none; 
  border-color: Transparent; 
  overflow: auto;  
  
  font-family: IBM Plex Mono;
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 23px;
  /* text-align: center; */
  letter-spacing: 0.03em;

  color: #323232;

  resize: none
}


.note:focus {
  outline: none;
}

.main-home {
  max-height: 350px;
  overflow: scroll;
  top: 200px;
}

.single-project {
  width: 500px;
  margin-top: 200px;
  max-height: 400px;
  overflow: scroll;
}


.dropDown {
  display: block;
    font-size: 16px;
    line-height: 1.3;
    padding: .6em 1.4em .5em .8em;
    width: 100%;
    max-width: 100%; 
    box-sizing: border-box;
    margin: 0;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-color: #fff;
    background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'),
    linear-gradient(to bottom, #ffffff 0%,#e5e5e5 100%);
    background-repeat: no-repeat, repeat;
    background-position: right .7em top 50%, 0 0;
    background-size: .65em auto, 100%;
}

.dropDown:focus {
  outline: none;
}
